Schemas/Configuration/SignalF.Datamodel.Devices.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- Name: Name of the project to generate with business object generator
		 TargetPath: The path where to create the project
     Version: The version of the generated project	-->
<?XMLDatabase Name="SignalF.Datamodel.Devices" Namespace="SignalF.Datamodel.Devices" ProjectFolder="" Version="1.3.1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:SignalF.1.0"
           targetNamespace="urn:SignalF.1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SignalF.Datamodel.Base.xsd" />
	<xs:include schemaLocation="SignalF.Datamodel.Units.xsd" />
	<xs:include schemaLocation="SignalF.Datamodel.Signals.xsd" />
	<xs:include schemaLocation="SignalF.Datamodel.Hardware.xsd" />
	<xs:annotation>
		<xs:documentation>Devices Types</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>Generic Device</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.GenericDeviceTemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.GenericDeviceDefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.GenericDeviceConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>TcpDevice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.TcpDeviceTemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.TcpDeviceDefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.TcpDeviceConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.TcpChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>I2cDevice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.I2cDeviceTemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.I2cDeviceDefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.I2cDeviceConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.I2cChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>SpiDevice</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.SpiDeviceTemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.SpiDeviceDefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.SpiDeviceConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.SpiChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>BME280</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.BME280TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.BME280DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.BME280ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.SpiChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>BMP180</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.BMP180TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.BMP180DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.BMP180ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.I2cChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>MCP4821</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP4821TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP4821DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP4821ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.SpiChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="GainSelect" type="SignalF.Datamodel.Base.UIntType" use="required">
					<xs:annotation>
						<xs:documentation>
							The devices have a high Scotecion internal voltage
							reference (VREF = 2.048V). The user can configure the
							full-scale range of the device to be 2.048V or 4.096V by
							setting the Gain Selection Option bit.
							Set gain selecti to 1 for 2.048V analog outpot voltage. Set gain select to 0  for an output valtage of 4.096V.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>MCP3008</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP3008TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP3008DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType">
				<xs:sequence>
					<xs:element name="SignalChannelMappings" type="SignalF.Datamodel.Hardware.SignalChannelMappingListType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.MCP3008ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.SpiChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="ReferenceVoltage" type="SignalF.Datamodel.Base.DoubleType" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>SI7021</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.SI7021TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.SI7021DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.SI7021ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.I2cChannelConfigurationType" minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>OPA569</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.OPA569TemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.OPA569DefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.OPA569ConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType">
				<xs:sequence>
					<xs:element name="Channel" type="SignalF.Datamodel.Hardware.SpiChannelConfigurationType" minOccurs="0" />
					<xs:element name="GpioPinEnableFlag" type="SignalF.Datamodel.Hardware.GpioPinRefType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>CPU Temperator Sensor</xs:documentation>
	</xs:annotation>
	<xs:complexType name="SignalF.Datamodel.Devices.CpuTemperatureTemplateType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceTemplateType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.CpuTemperatureDefinitionType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceDefinitionType" />
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SignalF.Datamodel.Devices.CpuTemperatureConfigurationType">
		<xs:complexContent>
			<xs:extension base="SignalF.Datamodel.Hardware.DeviceConfigurationType" />
		</xs:complexContent>
	</xs:complexType>
</xs:schema>